<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Categorías</title>
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>

<div class="admin-container">

    <aside class="sidebar">
        <h2 class="logo">PANEL <span>ADMIN</span></h2>

        <nav>
            <a th:href="@{/admin/dashboard}" class="nav-item">Dashboard</a>
            <a th:href="@{/admin/productos}" class="nav-item">Productos</a>
            <a th:href="@{/admin/categorias}" class="nav-item active">Categorías</a>
            <a th:href="@{/admin/agregar}" class="nav-item">Agregar</a>
        </nav>
    </aside>

    <main class="admin-main">

        <div class="top-bar">
            <a th:href="@{/}">← TIENDA</a>
        </div>

        <h1 class="admin-title">
            GESTIÓN DE <br>
            <span>CATEGORÍAS</span>
        </h1>

        <!-- FORM -->
        <div class="form-card">
            <form th:action="@{/admin/guardarCategoria}" method="post">

                <label>Nombre</label>
                <input type="text" name="CategoriaNombre" required>

                <label>Orden</label>
                <input type="number" name="Categoria_Orden" required>

                <button type="submit">Guardar</button>

            </form>
        </div>

        <!-- MENSAJE VACÍO -->
        <div th:if="${categorias == null or #lists.isEmpty(categorias)}">
            <p>No hay categorías registradas</p>
        </div>

        <!-- LISTA -->
        <div class="cards">

            <div class="card" th:each="c : ${categorias}">
                <h2>📂</h2>
                <p th:text="${c.CategoriaNombre}"></p>

                <div class="acciones">
                    <a th:href="@{/admin/eliminarCategoria/{id}(id=${c.CategoriaId})}">🗑</a>
                </div>
            </div>

        </div>

    </main>

</div>

</body>
</html>