<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Categorías</title>
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<h2>Administrar Categorías</h2>
<form th:action="@{/admin/guardarCategoria}" method="post">
<input type="text" name="nombre" placeholder="Nombre categoría">
<button type="submit">Guardar</button>
</form>
</body>
</html>