<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Producto</title>
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>

<div class="admin-container">

    <aside class="sidebar">
        <h2 class="logo">PANEL <span>ADMIN</span></h2>

        <nav>
            <a th:href="@{/admin/dashboard}" class="nav-item">Dashboard</a>
            <a th:href="@{/admin/productos}" class="nav-item active">Productos</a>
            <a th:href="@{/admin/categorias}" class="nav-item">Categorías</a>
            <a th:href="@{/admin/agregar}" class="nav-item">Agregar</a>
        </nav>
    </aside>

    <main class="admin-main">

        <div class="top-bar">
            <a th:href="@{/}">← TIENDA</a>
        </div>

        <h1 class="admin-title">
            EDITAR <br>
            <span>PRODUCTO</span>
        </h1>

        <div class="form-card">

            <form th:action="@{/admin/actualizarProducto}" method="post" enctype="multipart/form-data">

                <input type="hidden" name="ProductoId" th:value="${producto.ProductoId}">

                <label>Nombre</label>
                <input type="text" name="Producto_Nombre"
                       th:value="${producto.Producto_Nombre}" required>

                <label>Descripción</label>
                <textarea name="Producto_Descripcion" rows="3"
                          th:text="${producto.Producto_Descripcion}"></textarea>

                <label>Precio</label>
                <input type="number" name="Producto_Precio"
                       th:value="${producto.Producto_Precio}" required>

                <label>Stock</label>
                <input type="number" name="Producto_Stock"
                       th:value="${producto.Producto_Stock}" required>

                <label>SKU</label>
                <input type="text" name="Producto_SKU"
                       th:value="${producto.Producto_SKU}" required>

                <label>Subcategoría</label>
                <select name="subcategoria.SubcategoriaId">
                    <option th:each="s : ${subcategorias}"
                            th:value="${s.SubcategoriaId}"
                            th:text="${s.Subcategoria_Nombre}"
                            th:selected="${producto.subcategoria.SubcategoriaId == s.SubcategoriaId}">
                    </option>
                </select>

                <label>Imagen (opcional)</label>
                <input type="file" name="imagen">

                <button type="submit">Actualizar Producto</button>

            </form>

        </div>

    </main>

</div>

</body>
</html>