<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin - Productos</title>
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>

<div class="admin-container">

    <aside class="sidebar">
        <h2 class="logo">PANEL <span>ADMIN</span></h2>

        <nav>
            <a th:href="@{/admin/dashboard}" class="nav-item">Dashboard</a>
            <a th:href="@{/admin/productos}" class="nav-item active">Productos</a>
            <a th:href="@{/admin/categorias}" class="nav-item">Categorías</a>
            <a th:href="@{/admin/agregar}" class="nav-item">Agregar</a>
        </nav>
    </aside>

    <main class="main-content">

        <div class="top-bar">
            <a th:href="@{/}" class="back">← TIENDA</a>
            <h1>PRODUCTOS</h1>

            <a th:href="@{/admin/agregar}" class="btn-add">
                + AGREGAR
            </a>
        </div>

        <div class="table-container">
            <table class="admin-table">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>PRECIO</th>
                        <th>STOCK</th>
                        <th>IMAGEN</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>

                <tbody>

                    <tr th:if="${productos == null or #lists.isEmpty(productos)}">
                        <td colspan="5">No hay productos registrados</td>
                    </tr>

                    <tr th:each="p : ${productos}">
                        <td th:text="${p.productoId}"></td>
                        <td th:text="${p.productoNombre}"></td>
                        <td th:text="'$' + ${p.productoPrecio}"></td>
                        <td th:text="${p.productoStock}"></td>
                        <td><img th:src="@{/producto/imagen/{id}(id=${p.productoId})}"></td>
                        <td class="acciones">
                            <a th:href="@{/admin/editarProducto/{id}(id=${p.productoId})}">✏</a>
<a th:href="@{/admin/eliminarProducto/{id}(id=${p.productoId})}">🗑</a>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>

    </main>

</div>

</body>
</html>