<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header class="navbar" th:fragment="navbar">

    <!-- LOGO -->
    <div class="logo">
        URBAN<span>RAW</span>
    </div>

    <!-- MENU CENTRADO -->
    <div class="menu">
        <div class="menu-item">
            <a href="#">MUJER</a>

            <div class="mega-menu">
                <div class="col">
                    <h4>Colección</h4>
                    <a href="#">Playeras</a>
                    <a href="#">Jeans</a>
                    <a href="#">Vestidos</a>
                    <a href="#">Pantalones</a>
                </div>

                <div class="col">
                    <h4>Accesorios</h4>
                    <a href="#">Zapatos</a>
                    <a href="#">Bolsas</a>
                    <a href="#">Accesorios</a>
                </div>
            </div>
        </div>

        <div class="menu-item">
            <a href="#">HOMBRE</a>

            <div class="mega-menu">
                <div class="col">
                    <h4>Hombre</h4>
                    <a href="#">Playeras</a>
                    <a href="#">Camisas</a>
                    <a href="#">Pantalones</a>
                    <a href="#">Sudaderas</a>
                </div>
            </div>
        </div>

        <div class="menu-item">
            <a href="#">NIÑOS</a>
        </div>
    </div>

    <!-- ICONOS DERECHA -->
    <div class="acciones">
        <a th:href="@{/login}">👤</a>
        <a th:href="@{/carrito}">🛍</a>
    </div>

</header>

</body>
</html>