<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header class="navbar" th:fragment="navbar">

<div class="nav-container">

<div class="logo">
<a th:href="@{/}">TIENDA</a>
</div>

<nav class="menu">

<div class="menu-item">

<a>MUJER</a>

<div class="mega-menu">

<div class="col">
<h4>Colección</h4>
<a th:href="@{/productos(categoria='mujer')}">Playeras</a>
<a>Jeans</a>
<a>Vestidos</a>
</div>

<div class="col">
<h4>Accesorios</h4>
<a>Bolsas</a>
<a>Zapatos</a>
</div>

</div>

</div>

<div class="menu-item">

<a>HOMBRE</a>

<div class="mega-menu">

<div class="col">
<h4>Colección</h4>
<a>Camisas</a>
<a>Pantalones</a>
<a>Sudaderas</a>
</div>

</div>

</div>

<div class="menu-item">

<a>KIDS</a>

<div class="mega-menu">

<div class="col">
<h4>Niños</h4>
<a>Playeras</a>
<a>Pantalones</a>
</div>

</div>

</div>

</nav>

<div class="nav-right">

<a th:href="@{/login}">Iniciar sesión</a>
<a th:href="@{/registro}">Registro</a>
<a th:href="@{/carrito}">Carrito</a>

</div>

</div>

</header>

</body>
</html>