<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Carrito</title>
<link rel="stylesheet" href="styles.css">
</head>

<body>

<h1>Carrito de compras</h1>

<section id="carritoContainer">

<!-- Productos agregados -->

</section>

<h2>Total: $0</h2>

<button>Finalizar compra</button>

</body>
</html>
