<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Producto</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header th:replace="fragments/navbar :: navbar"></header>

<section class="producto-detalle">

    <!-- IMAGEN -->
    <div class="producto-imagen">
        <img th:src="@{/imagen/{id}(id=${producto.ProductoId})}"
             onerror="this.src='/img/default.png'">
    </div>

    <!-- INFO -->
    <div class="producto-info">

        <p class="categoria"
           th:text="${producto.subcategoria.Subcategoria_Nombre}">
        </p>

        <h1 th:text="${producto.productoNombre}"></h1>
        
        <p th:text="${producto.productoDescripcion}"></p>

        <p th:text="'$' + ${producto.productoPrecio}"></p>

        <!-- STOCK -->
        <p class="stock" th:if="${producto.Producto_Stock > 0}">
            Disponible: <span th:text="${producto.Producto_Stock}"></span>
        </p>

        <p class="stock agotado" th:if="${producto.Producto_Stock == 0}">
            Agotado
        </p>

        <!-- BOTÓN -->
        <a th:href="@{/carrito/agregar/1/{id}(id=${producto.ProductoId})}"
           class="btn-carrito"
           th:classappend="${producto.Producto_Stock == 0} ? 'disabled'">
            Agregar al carrito
        </a>

    </div>

</section>

</body>
</html>