<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Productos</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header th:replace="fragments/navbar :: navbar"></header>

<section class="productos-container">

    <!-- TITULO DINÁMICO -->
    <h2 class="titulo-categoria"
        th:text="${categoria} ?: 'PRODUCTOS'"
        PRODUCTOS
    </h2>

    <!-- GRID -->
    <div class="productos-grid">

        <div class="producto-card" th:each="producto : ${productos}" th:if="${productos != null}">

            <a th:href="@{/producto/{id}(id=${producto.id})}">
                <img th:src="@{/imagen/{id}(id=${producto.ProductoId})}">
            </a>

            <div class="producto-info">
                <h3 th:text="${producto.productoNombre}"></h3>
                <p th:text="'$' + ${producto.productoPrecio}"></p>
            </div>

            <a class="btn-ver"
               th:href="@{/producto/{id}(id=${producto.ProductoId})}"
               Ver producto
            </a>

        </div>

    </div>

</section>

</body>
</html>